<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="logo-copyright">
        <img src="/assets/svg/jorges-concrete-horizontal-orange-logo.svg" alt="Jorge's Concrete" class="logo-copyright__jc-logo" />
        <p class="logo-copyright__copyright-text">
          @ Copyright 2017 Jorge’s Concrete.
        </p>
        <p class="logo-copyright__copyright-text">
          All Rights Reserved.
        </p>
      </div>
      <div class="operating-hours">
        <p class="footer__section-titles">Hours of Operation</p>
        <ul>
          <li>
            <strong>Monday:</strong> 9:00AM - 5:00PM
          </li>
          <li>
            <strong>Tuesday:</strong> 9:00AM - 5:00PM
          </li>
          <li>
            <strong>Wednesday:</strong> 9:00AM - 5:00PM
          </li>
          <li>
            <strong>Thursday:</strong> 9:00AM - 5:00PM
          </li>
          <li>
            <strong>Friday:</strong> 9:00AM - 5:00PM
          </li>
          <li>
            <strong>Saturday:</strong> Closed
          </li>
          <li>
            <strong>Sunday:</strong> Closed
          </li>
        </ul>
      </div>
      <div class="address-about">
        <p class="footer__section-titles">Address</p>
        <ul>
          <li>
            3299 Pembina
          </li>
          <li>
            R3V 0A6
          </li>
          <li>
            Winnipeg, MB.
          </li>
        </ul>
        <img src="/assets/svg/bbb-logo.svg" alt="" class="footer__bbb-logo" />
      </div>
    </div>
  </div>
</footer>
