<footer class="footer">
  <div class="container">
    <div class="logo-copyright">
      <p class="logo-copyright__copyright-text">
        @ Copyright 2017 Jorge’s Concrete.
      </p>
      <p class="logo-copyright__copyright-text">
        All Rights Reserved.
      </p>
    </div>
    <div class="operating-hours">
      <span class="operating-hours__title">Hours of Operation</span>
      <ul>
        <li>
          <strong>Monday:</strong> 9:00AM - 5:00PM
        </li>
        <li>
          <strong>Tuesday:</strong> 9:00AM - 5:00PM
        </li>
        <li>
          <strong>Wednesday:</strong> 9:00AM - 5:00PM
        </li>
        <li>
          <strong>Thursday:</strong> 9:00AM - 5:00PM
        </li>
        <li>
          <strong>Friday:</strong> 9:00AM - 5:00PM
        </li>
        <li>
          <strong>Saturday:</strong> Closed
        </li>
        <li>
          <strong>Sunday:</strong> Closed
        </li>
      </ul>
    </div>
    <div class="address-about">
      <span class="address-about__title">Address</span>
      <img src="" alt="" class="about-address__bbb-logo" />
      <ul>
        <li>
          3299 Pembina
        </li>
        <li>
          R3V 0A6
        </li>
        <li>
          Winnipeg, MB.
        </li>
      </ul>
      <span class="address-about__title">About us</span>
      <p>
        With 30 years of experience of deliverting quality concrete services.
      </p>
    </div>
  </div>
</footer>
