<header>
  <div class="container">
    <nav class="navbar">
      <a href="/" class="header-logo fade-in one"></a>
      <ul class="nav fade-in two">
        <li class="nav-item"><a href="#strategy">Services</a></li>
        <li class="nav-item"><a href="#careers">Our Work</a></li>
        <li class="nav-item"><a href="#contact">Contact us</a></li>
        <li class="nav-item">(204) 807-2870</li>
      </ul>
    </nav>
    <div class="main-header__content">
      <h1 class="fade-in three">We are a Winnipeg based concrete company specializing in Driveways, Sidewalks, Patios, Garage Pads, Commercial Floors with over 30 years of experience.</h1>
      <a href="#contact" class="primary-cta fade-in four">Get in Touch</a>
    </div>
  </div>
</header>
