<header class="main-header">
  <div class="container">
    <div class="row">
      <a href="/" class="header-logo fade-in one"></a>
      <ul class="nav justify-content-end fade-in two">
        <li class="nav-item">
          <a href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a href="#work">Our Work</a>
        </li>
        <li class="nav-item">
          <a href="#contact">Contact us</a>
        </li>
        <li class="nav-item">
          <a href="tel:(204) 807-2870">(204) 807-2870</a>
        </li>
      </ul>
    </div>
    <div class="main-header__content">
      <h1 class="fade-in three">We are a Winnipeg based concrete company specializing in Driveways, Sidewalks, Patios, Garage Pads, Commercial Floors with over 30 years of experience.</h1>
      <a href="mailto:jorgesconcrete801@gmail.com" class="btn btn-primary fade-in four">Get in Touch</a>
    </div>
  </div>
</header>
