// =======================================================

// Our Services

// =======================================================

.our-services {
  margin: 70px 0;

  &__thumbnails {
    width: auto;
    margin-top: 60px;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      margin-bottom: 100px;
    }
  }

  &__title {
    @extend %default-section-title;
  }

  &__sub-title {
    @extend %default-section-title;
  }
}

.service-thumbnail {
  @include make-col(12);

  @include media-breakpoint-up(md) {
    @include make-col(4);
  }

  text-align: center;

  &__img {
    max-width: 90%;
  }

  &__title {
    @include font-size(22px);
    margin-top: 20px;
    margin-bottom: 40px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
}

.additional-services {
  @include make-col(12);

  @include media-breakpoint-up(md) {
    @include make-col(4);
  }

  padding-left: 0;

  li {
    list-style: none;
    text-align: center;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:first-child {
    @include media-breakpoint-up(md) {
      @include make-col-offset(2);
    }
  }
}
