// =======================================================

// Variables

// =======================================================

// Colors
$primary-brand-color: #FF881A;

// Buttons
$btn-primary-bg: #FF881A;
$btn-primary-border: #FF881A;

// $btn-secondary-color: ;
// $btn-secondary-bg: ;
// $btn-secondary-border: ;
//
$btn-padding-y: 15px;
$btn-padding-x: 30px;
$font-size-base: rem-calc(16px);
$btn-border-radius: 6px;

// Typography
$primary-font-family: 'Montserrat', Arial, sans-serif;
