<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <title>Winnipeg Conrete Services - Jorge's Concrete</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/assets/main.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600" rel="stylesheet">
</head>
<body>

  <!-- {% include header.html %}
  {% include home/our-services.html %}
  {% include home/safety-commitment.html %}
  {% include home/our-work.html %}
  {% include home/service-area.html %}
  {% include home/start-project.html %}
  {% include footer.html %} -->

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/tether/dist/js/tether.min.js"></script>
  <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>

</body>
</html>
