<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <title>Winnipeg Conrete Services - Jorge's Concrete</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/assets/main.css">
</head>

<body>
  <header>
    <div class="container">
      <nav class="navbar">
        <a href="/" class="upfeat-logo fade-in one"></a>
        <ul class="nav fade-in two">
          <li class="nav-item"><a href="#strategy">Services</a></li>
          <li class="nav-item"><a href="#careers">Our Work</a></li>
          <li class="nav-item"><a href="#contact">Contact us</a></li>
          <li class="nav-item">(204) 807-2870</li>
        </ul>
      </nav>
      <div class="main-header__content">
        <h1 class="fade-in three">We are a Winnipeg based concrete company specializing in Driveways, Sidewalks, Patios, Garage Pads, Commercial Floors with over 30 years of experience.</h1>
        <a href="#contact" class="primary-cta fade-in five">Get in Touch</a>
      </div>
    </div>
  </header>

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/tether/dist/js/tether.min.js"></script>
  <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  
</body>
</html>
