<div id="services"></div>
<section class="our-services">
  <div class="container">
    <h2 class="our-services__title">Our Services</h2>

    <div class="row our-services__thumbnails">
      <div class="service-thumbnail">
        <img src="/assets/img/work-photo-06.jpg" alt="Sidewalks" class="service-thumbnail__img">
        <h3 class="service-thumbnail__title">Sidewalks</h3>
      </div>
      <div class="service-thumbnail">
        <img src="/assets/img/work-photo-05.jpg" alt="Driveways" class="service-thumbnail__img">
        <h3 class="service-thumbnail__title">Driveways</h3>
      </div>
      <div class="service-thumbnail">
        <img src="/assets/img/work-photo-02.jpg" alt="Stairs" class="service-thumbnail__img">
        <h3 class="service-thumbnail__title">Stairs</h3>
      </div>
    </div>

    <h2 class="our-services__sub-title">We also provide</h2>
    <div class="row">
      <ul class="additional-services">
        <li>
          Warehouse &amp; Parkade Floors
        </li>
        <li>
          Shop Floors
        </li>
        <li>
          Grade Beams, Walls, Footings
        </li>
        <li>
          Sidewalks
        </li>
        <li>
          Curbs &amp; Gutters
        </li>
        <li>
          Concrete Slabs
        </li>
      </ul>
      <ul class="additional-services">
        <li>
          Concrete Repairs
        </li>
        <li>
          Precast Curb Stops
        </li>
        <li>
          Custom Concrete Design
        </li>
        <li>
          Concrete Finishing
        </li>
        <li>
          Retaining Walls
        </li>
        <li>
          Basement Floors
        </li>
      </ul>
    </div>
  </div>
</section>
