<section class="service-area">
  <div class="container">
    <h2 class="service-area__title">We Service all of Manitoba</h2>
    <p>
      We've been fortunate to work with many great people over the years and we’re proud of the work we do.
    </p>
    <div class="row">
      <ul class="service-area__list">
        <li>
          Assiniboia
        </li>
        <li>
          Charleswood
        </li>
        <li>
          Tuxedo
        </li>
        <li>
          Whyte Ridge
        </li>
        <li>
          St. Charles
        </li>
        <li>
          St. James
        </li>
        <li>
          East Kildonan
        </li>
        <li>
          Transcona
        </li>
        <li>
          Elmwood
        </li>
      </ul>
      <ul class="service-area__list">
        <li>
          North Kildonan
        </li>
        <li>
          River Heights
        </li>
        <li>
          Selkirk
        </li>
        <li>
          Point Douglas
        </li>
        <li>
          St. Boniface
        </li>
        <li>
          St. Norbert
        </li>
        <li>
          St. Vital
        </li>
      </ul>
    </div>
  </div>
</section>
