<section class="start-project">
  <div class="container">
    <h2 class="start-project__title">Ready to start your project?</h2>
    <p class="start-project__intro">
      We're always looking to take on new work and we’re confident our team will scale to your project.
    </p>
    <h3>Call us: <a href="tel:204-807-2870" class="text-link">(204) 807-2870</a></h3>
    <h3>Email us: <a href="mailto:jorgesconcrete801@gmail.com" class="text-link">jorgesconcrete801@gmail.com</a></h3>
    <a href="/" class="btn btn-primary">Request a Quote</a>
  </div>
</section>
